# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio / IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Crash reports
sysinfo.txt
*.stackdump

# Builds
*.apk
*.aab
*.exe
*.x86
*.x86_64
*.app
*.ipa
